<mat-toolbar class="topbar">
  <!-- Mobile Menu -->
  @if(!showToggle) {
  <button
    mat-mini-fab
    color="inherit"
    (click)="toggleMobileNav.emit()"
    class="d-flex justify-content-center"
  >
    <i
      class="iconify icon-20 d-flex"
      data-icon="solar:hamburger-menu-line-duotone"
    ></i>
  </button>
  }
  <!-- --------------------------------------------------------------- -->
  <!-- Notification Dropdown -->
  <!-- --------------------------------------------------------------- -->
  <button
    mat-mini-fab
    color="inherit"
    aria-label="Notifications"
  >
    <span  matBadge="1" matBadgeOverlap="false" matBadgeSize="small">
      <mat-icon class="icon-20 d-flex" aria-hidden="true">notifications_active</mat-icon>
    </span>
  </button>

  <span class="flex-1-auto"></span>

  <!-- --------------------------------------------------------------- -->
  <!-- profile Dropdown -->
  <!-- --------------------------------------------------------------- -->
  <button
    mat-icon-button
    extended
    color="inherit"
    [matMenuTriggerFor]="profilemenu"
    aria-label="Profile"
  >
  <mat-icon class="icon-20 d-flex" aria-hidden="true">person</mat-icon>
  </button>
  <mat-menu #profilemenu="matMenu" class="topbar-dd cardWithShadow">
    <button mat-menu-item>
      <mat-icon aria-hidden="true">face</mat-icon>
      Mi perfil
    </button>
    <button mat-menu-item>
      <mat-icon aria-hidden="true">settings</mat-icon>
      Configuración
    </button>

    <div class="p-x-12 m-t-12">
      <a
        [routerLink]="['/authentication/login']"
        mat-stroked-button
        color="primary"
        class="w-100"
        >Logout</a
      >
    </div>
  </mat-menu>
</mat-toolbar>
